<?xml version="1.0"?>

<appSettings>
  <add key="issuer" value="http://localhost/"/>
  <add key="secret" value="IxrAjDoa2FqElO7IhrSrUJELhUckePEPVpaePlS_Xaw"/>
  
  <!-- For more information on audience configuration, visit https://stackoverflow.com/questions/28418360/jwt-json-web-token-audience-aud-versus-client-id-whats-the-difference -->
  <add key="audience" value="http://localhost/"/>
</appSettings>
